{{template "base.html" .}} {{ define "content" }}
<h1 class="font_sixtyfour">About Nick</h1>
<p class="font_roboto-condensed post_p">
  I've built a lot of different platforms, apps, and services and have worked
  for large enterprise and tiny startups. Small teams where wearing many hats,
  and larger teams with differing skill levels and where had a concentration on
  leveling up colleagues. I lead a mobile team for the largest healthcare org in
  the us and I have singlehandedly built dozens of services currently in
  production today that healthy businesses continue to leverage. I enjoy being
  involved early in the process and collaborating with cross functional teams to
  solve problems. And with a drive for simplicity and a curiosity for thinking
  around corners & alternative solutions.
</p>
<p class="font_roboto-condensed post_p">
  I enjoy collaborative conversations and humble about actual code, rather find
  the most effective solution than be right, and many times that is also not an
  engineering solve, but rather deeper understanding of the requirements and
  framing or a product/design solution. Ultimately I believe our job is to write
  less code, have less dependencies, and create predictable scalable solutions
  that don't reinvent the wheel or waste time solving solved problems.
  Leveraging experience and doing that up front research saves hours/weeks down
  the line. Predictable, clean and consistent code unlocks velocity and reduces
  debt and bugs. Choose boring ! And save your innovation tokens for the unique
  parts of the business.
</p>
<p class="font_roboto-condensed post_p">
  v1 make it work, v2+ simplify / refactor and iterate down / reduce verbosity.
  Influenced by React Rally, Lead Dev, Datadog DASH, Google Cloud Next and other
  conferences, and really stuck with me from LeadDev NY the other year with a
  keynote on living cities and how to have healthier codebases. (Will find the
  video and link it).
</p>
{{ end }}
