{{template "base.html" .}} {{ define "content" }}
<h1 class="font_sixtyfour">About Nick</h1>
<p class="font_roboto-condensed post_p">
  I like to ship and I've launched many different platforms, apps, chrome
  extensions and services while working for large enterprise and tiny startups.
  Small teams where wearing many hats, and larger teams with differing skill
  levels witha concentration on leveling up colleagues. I lead a mobile team for
  the largest healthcare org in the us and I have singlehandedly built dozens of
  services currently in production today that healthy businesses continue to
  leverage. I enjoy being involved early in the process and collaborating with
  cross functional teams to solve problems. And with a drive for simplicity and
  a curiosity for thinking around corners & alternative solutions.
</p>
<p class="font_roboto-condensed post_p">
  I enjoy collaborative conversations and humble about actual code, I'd rather
  find the most effective solution than be right, and many times that is also
  not an engineering solve, but rather deeper understanding of the requirements
  and framing or a product/design solution. Ultimately I believe our job is to
  write less code, have less dependencies, and create predictable scalable
  solutions that don't reinvent the wheel or waste time solving solved problems.
  Leveraging experience and doing that up front research saves hours/weeks down
  the line. Predictable, clean and consistent code unlocks velocity and reduces
  debt and bugs. Choose boring ! And save your innovation tokens for the unique
  parts of the business.
</p>
<p class="font_roboto-condensed post_p">
  My approach is v1 make it work, v2+ simplify / refactor and iterate down /
  reduce verbosity and keep dependencies to a minimum. Getting v1 up fast
  reduces cycle time and enables faster iteration to reach milestones. Am/ Have
  been influenced by React Rally, Lead Dev, Datadog DASH, Google Cloud Next and
  other conferences, and really stuck with me from LeadDev NY the other year
  with a keynote on living cities and how to have healthier codebases. (Will
  find the video and link it).
</p>
{% comment %}
<p class="font_roboto-condensed post_p">
  Born and raised in Mountain View, CA (Before google took over the town), I
  went to html summer camps at Stanford as a kid and I have always been messing
  around on computers. I attended college in San Francisco, and after college I
  moved to NYC to be closer to family. I started working with an architectural
  design firm and absorbed more and more of their IT and accounting workload,
  enabling the firm to let go of IT contracts and consolidate their backend
  needs.
</p>

<p class="font_roboto-condensed post_p">
  In 2015, I was getting tired of consuming so many faulty websites and apps and
  kept seeing the limitations of the app or places where I wanted to tweak the
  app. Some times a small part of the design or other times want to add more
  robust features or want to even totally redo the app entirely. I wanted to
  really start creating and contributing, so I started to take MOOC's and follow
  various tutorials working mainly with Python and Ruby, building various
  projects, a sandwich tracker and some other small projects, but the magic was
  hidden behind gems and I wanted to really get into the nitty gritty, end of
  2016 decided to take a bigger step, kick this thing into gear for real. I went
  through a full stack javascript boot camp program where I was paired with a
  senior developer(10+years experience) as a mentor to work on the MERN stack.
</p>

<p class="font_roboto-condensed post_p">
  I have focused mainly on React and Node while working for companies of all
  sizes. Startups getting traction (product changing by the minute) to
  enterprise (Largest Healthcare company in US). Like anything there is
  tradeoffs, I enjoy the smaller company experience where the team is more
  nimble and can adopt new technologies, and also enjoy the enterprise work
  where we have a million active monthly users and managing volume efficiently
  is paramount.
</p>

<p class="font_roboto-condensed post_p">
  My coding style is writing predictable maintainable code with high % of test
  coverage. I leverage descriptive naming and uniform syntax/consistency across
  files and folder organization. If there is a lack of order when I land in a
  new code base, you will find me chipping away/refactoring for uniform
  structure in my downtime. I have refactored code bases where props are renamed
  multiple times during prop drilling, where nested ternaries had become the
  norm and css specificity had run amuck with 10,000+ loc css files. Working in
  large code bases, I feel strongly about not compromising on uniform syntax,
  uniform structure and descriptive naming. The goal is to be able to jump in
  get oriented add a feature/make the change, add tests and ship ship ship.
</p>

<p class="font_roboto-condensed post_p">
  When I'm not javascripting away or expanding my knowledge of Rust and Golang,
  you can find me rescuing animals with Unwanted NYC Pets, and cycling or
  running around NYC. To be honest I don't particularly enjoy writing own bios
  much. If you got this far I'll take you out for Banh Mi or a beer or who
  knows, heck I'll even help you move apartments if you need it. Hit me up !
</p>
{% endcomment %} {{ end }}
