{{template "base.html" .}} {{ define "content" }}
<h1 class="font_sixtyfour">AI Usage</h1>
<br />
<p class="font_roboto-condensed post_p">
  "If you couldn't be bothered to write something, I won't be bothered to read
  it"
</p>
<br />
<p class="font_roboto-condensed post_p">
  This site is glaringly human generated, and that's kinda the point of personal
  sites. Reading Cassidy's latest newsletter this morning, (10/6/2025) thought I
  would add a page here inspired by
  <a href="https://cassidoo.co/ai/?utm_source=https%3A%2F%2Fnickfoden.com%2F"
    >https://cassidoo.co/ai/</a
  >
  to emphasize to anyone taking the time to visit my site and to remind myself
  not to skip a step / be lazy and generate slop for the sake of filling up page
  space.
</p>
{{ end }}
